<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /Medceylon
    
    # Redirect all requests to public directory
    RewriteCond %{REQUEST_URI} !^/Medceylon/public/
    RewriteRule ^(.*)$ public/$1 [L]
    
    # Prevent access to sensitive files
    RewriteRule ^(app|system|vendor) - [F,L]
    Options -Indexes
</IfModule>