body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.section {
    padding: 10px;
    margin: 10px;
    background-color: #F7F9FC;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.request-card {
    margin: 10px;
    padding: 10px;
    background-color: #F7F9FC;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.request-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request-details {
    margin: 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #047865;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #035d4a;
}

.request-status {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 0px 20px 0px 20px;
}


.modal {
    display: none; /* hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* dark background */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Toolbar */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    width: 220px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(90, 90, 90, 0.3);
    outline: none;
    transition: all 0.3s ease;
}

.search-box input:focus {
    box-shadow: 0 6px 10px rgba(0, 128, 0, 0.4);
    transform: translateY(-2px);
    border: 2px solid rgba(0, 153, 99, 1);
}

.filters-btn, .add-user-btn {
    background-color: rgba(0, 153, 99, 1);
    color: white;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 128, 0, 0.3);
    transition: all 0.3s ease;
}

.add-user-btn:hover, .filters-btn:hover {
    background-color: #1b5e20;
    box-shadow: 0 6px 10px rgba(0, 128, 0, 0.4);
    transform: translateY(-2px);
}

.toolbar button {
    background-color: rgba(0, 153, 99, 1);
    color: white;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 128, 0, 0.3);
    transition: all 0.3s ease;
}

.toolbar button:hover {
    background-color: #1b5e20;
    box-shadow: 0 6px 10px rgba(0, 128, 0, 0.4);
    transform: translateY(-2px);
}
