.contact-form31-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form31-image1 {
  flex: 1;
  width: auto;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-radius-radius-radius4);
}
.contact-form31-content1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form31-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form31-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form31-input1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form31-input2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form31-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-form31-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
.contact-form31-text16 {
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.contact-form31-button {
  align-self: flex-start;
}
.contact-form31-fragment1 {
  display: contents;
}
.contact-form31-fragment2 {
  display: contents;
}
.contact-form31-fragment3 {
  display: contents;
}
.contact-form31-fragment4 {
  display: contents;
}
@media(max-width: 991px) {
  .contact-form31-max-width {
    flex-direction: column;
  }
  .contact-form31-content1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .contact-form31-image1 {
    width: 100%;
  }
}
