.contact-form1-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-form1-max-width {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form1-container1 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.contact-form1-section-title {
  align-self: flex-start;
}
.contact-form1-text2 {
  text-align: left;
}
.contact-form1-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.contact-form1-input {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
.contact-form1-text-input {
  flex: 1;
}
.contact-form1-checkbox {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-self: flex-start;
}
.contact-form1-button {
  align-self: flex-start;
}
.contact-form1-fragment1 {
  display: contents;
}
.contact-form1-text4 {
  display: inline-block;
}
.contact-form1-fragment2 {
  display: contents;
}
.contact-form1-text5 {
  display: inline-block;
}
.contact-form1-fragment3 {
  display: contents;
}
.contact-form1-text6 {
  display: inline-block;
}
@media(max-width: 991px) {
  .contact-form1-input {
    align-items: center;
    flex-direction: row;
  }
  .contact-form1-checkbox {
    width: 100%;
    align-items: center;
    flex-direction: row;
  }
}
