.faq1faq7 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.faq1-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faq1-text11 {
  text-align: center;
}
.faq1-list-item1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq1-faq1-question {
  font-style: normal;
  font-weight: 600;
}
.faq1-list-item2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq1-faq2-question {
  font-style: normal;
  font-weight: 600;
}
.faq1-list-item3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq1-faq3-question {
  font-style: normal;
  font-weight: 600;
}
.faq1-list-item4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq1-faq4-question {
  font-style: normal;
  font-weight: 600;
}
.faq1-list-item5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq1-faq5-question {
  font-style: normal;
  font-weight: 600;
}
.faq1-content2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.faq1-text13 {
  text-align: center;
}
.faq1-container {
  display: flex;
  position: relative;
}
.faq1-fragment10 {
  display: contents;
}
.faq1-text14 {
  display: inline-block;
}
.faq1-fragment11 {
  display: contents;
}
.faq1-text15 {
  display: inline-block;
}
.faq1-fragment12 {
  display: contents;
}
.faq1-text16 {
  display: inline-block;
}
.faq1-fragment13 {
  display: contents;
}
.faq1-text17 {
  display: inline-block;
}
.faq1-fragment14 {
  display: contents;
}
.faq1-text18 {
  display: inline-block;
}
.faq1-fragment15 {
  display: contents;
}
.faq1-text19 {
  display: inline-block;
}
.faq1-fragment16 {
  display: contents;
}
.faq1-text22 {
  display: inline-block;
}
.faq1-fragment17 {
  display: contents;
}
.faq1-text23 {
  display: inline-block;
}
.faq1-fragment18 {
  display: contents;
}
.faq1-text24 {
  display: inline-block;
}
.faq1-fragment19 {
  display: contents;
}
.faq1-text25 {
  display: inline-block;
}
.faq1-fragment20 {
  display: contents;
}
.faq1-text26 {
  display: inline-block;
}
.faq1-fragment21 {
  display: contents;
}
.faq1-text27 {
  display: inline-block;
}
.faq1-fragment22 {
  display: contents;
}
.faq1-text28 {
  display: inline-block;
}
.faq1-fragment23 {
  display: contents;
}
.faq1-text29 {
  display: inline-block;
}
.faq1-fragment24 {
  display: contents;
}
.faq1-text30 {
  display: inline-block;
}
@media(max-width: 767px) {
  .faq1-text11 {
    text-align: left;
  }
  .faq1-list {
    gap: var(--dl-space-space-twounits);
  }
  .faq1-button {
    width: 100%;
  }
}
