.faq3faq9 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq3-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.faq3-section-title {
  align-items: flex-start;
}
.faq3-text10 {
  text-align: center;
}
.faq3-text11 {
  text-align: center;
}
.faq3-row1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq3-content2 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq3-faq1-question {
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
.faq3-faq1-answer {
  flex-grow: 1;
}
.faq3-row2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq3-content3 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq3-faq2-question {
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
.faq3-faq2-answer {
  flex-grow: 1;
}
.faq3-row3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq3-content4 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq3-faq3-question {
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
.faq3-faq3-answer {
  flex-grow: 1;
}
.faq3-row4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq3-content5 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq3-faq4-question {
  width: 500px;
  font-style: normal;
  font-weight: 600;
}
.faq3-faq4-answer {
  flex-grow: 1;
}
.faq3-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.faq3-button {
  align-self: flex-start;
}
.faq3-fragment10 {
  display: contents;
}
.faq3-text14 {
  display: inline-block;
}
.faq3-fragment11 {
  display: contents;
}
.faq3-text15 {
  display: inline-block;
}
.faq3-fragment12 {
  display: contents;
}
.faq3-text16 {
  display: inline-block;
}
.faq3-fragment13 {
  display: contents;
}
.faq3-text17 {
  display: inline-block;
}
.faq3-fragment14 {
  display: contents;
}
.faq3-text18 {
  display: inline-block;
}
.faq3-fragment15 {
  display: contents;
}
.faq3-text19 {
  display: inline-block;
}
.faq3-fragment16 {
  display: contents;
}
.faq3-text20 {
  display: inline-block;
}
.faq3-fragment17 {
  display: contents;
}
.faq3-text21 {
  display: inline-block;
}
.faq3-fragment18 {
  display: contents;
}
.faq3-text22 {
  display: inline-block;
}
.faq3-fragment19 {
  display: contents;
}
.faq3-text23 {
  display: inline-block;
}
.faq3-fragment20 {
  display: contents;
}
.faq3-text26 {
  display: inline-block;
}
.faq3-fragment21 {
  display: contents;
}
.faq3-text27 {
  display: inline-block;
}
.faq3-fragment22 {
  display: contents;
}
.faq3-text30 {
  display: inline-block;
}
.faq3root-class-name {
  left: 10px;
  bottom: 281px;
  position: static;
  align-self: center;
}
@media(max-width: 1440px) {
  .faq3root-class-name {
    position: 0px;
    align-self: center;
  }
}
@media(max-width: 767px) {
  .faq3-faq1-question {
    width: 100%;
  }
  .faq3-faq2-question {
    width: 100%;
  }
  .faq3-faq3-question {
    width: 100%;
  }
  .faq3-faq4-question {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .faq3-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .faq3-text12 {
    text-align: center;
  }
  .faq3-text13 {
    text-align: center;
  }
  .faq3-button {
    align-self: center;
  }
}
