.faq4faq12 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-section-title {
  align-items: flex-start;
}
.faq4-text10 {
  text-align: center;
}
.faq4-text11 {
  text-align: center;
}
.faq4-list-item1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq1-question1 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-list-item2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq2-question1 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-list-item3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq3-question1 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-list-item4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq4-question1 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-list-item5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq5-question1 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-list-item6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq1-question2 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-list-item7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq2-question2 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-list-item8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq3-question2 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-list-item9 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq4-question2 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-list-item10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-faq5-question2 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-content2 {
  align-items: flex-start;
}
.faq4-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.faq4-fragment10 {
  display: contents;
}
.faq4-text14 {
  display: inline-block;
}
.faq4-fragment11 {
  display: contents;
}
.faq4-text15 {
  display: inline-block;
}
.faq4-fragment12 {
  display: contents;
}
.faq4-text16 {
  display: inline-block;
}
.faq4-fragment13 {
  display: contents;
}
.faq4-text17 {
  display: inline-block;
}
.faq4-fragment14 {
  display: contents;
}
.faq4-text18 {
  display: inline-block;
}
.faq4-fragment15 {
  display: contents;
}
.faq4-text19 {
  display: inline-block;
}
.faq4-fragment16 {
  display: contents;
}
.faq4-text20 {
  display: inline-block;
}
.faq4-fragment17 {
  display: contents;
}
.faq4-text21 {
  display: inline-block;
}
.faq4-fragment18 {
  display: contents;
}
.faq4-text22 {
  display: inline-block;
}
.faq4-fragment19 {
  display: contents;
}
.faq4-text23 {
  display: inline-block;
}
.faq4-fragment20 {
  display: contents;
}
.faq4-text24 {
  display: inline-block;
}
.faq4-fragment21 {
  display: contents;
}
.faq4-text27 {
  display: inline-block;
}
.faq4-fragment22 {
  display: contents;
}
.faq4-text28 {
  display: inline-block;
}
.faq4-fragment23 {
  display: contents;
}
.faq4-text29 {
  display: inline-block;
}
.faq4-fragment24 {
  display: contents;
}
.faq4-text30 {
  display: inline-block;
}
.faq4-fragment25 {
  display: contents;
}
.faq4-text31 {
  display: inline-block;
}
.faq4-fragment26 {
  display: contents;
}
.faq4-text32 {
  display: inline-block;
}
.faq4-fragment27 {
  display: contents;
}
.faq4-text33 {
  display: inline-block;
}
.faq4-fragment28 {
  display: contents;
}
.faq4-text34 {
  display: inline-block;
}
.faq4-fragment29 {
  display: contents;
}
.faq4-text35 {
  display: inline-block;
}
.faq4-fragment30 {
  display: contents;
}
.faq4-text36 {
  display: inline-block;
}
.faq4-fragment31 {
  display: contents;
}
.faq4-text37 {
  display: inline-block;
}
.faq4-fragment32 {
  display: contents;
}
.faq4-text40 {
  display: inline-block;
}
.faq4-fragment33 {
  display: contents;
}
.faq4-text41 {
  display: inline-block;
}
.faq4-fragment34 {
  display: contents;
}
.faq4-text42 {
  display: inline-block;
}
@media(max-width: 767px) {
  .faq4-content1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .faq4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .faq4-content2 {
    align-items: center;
  }
  .faq4-text12 {
    text-align: center;
  }
  .faq4-text13 {
    text-align: center;
  }
}
