<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;  -webkit-font-smoothing: antialiased;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;  color: inherit;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./features4.css" rel="stylesheet" />
      <div class="features4-layout301 thq-section-padding">
        <div class="features4-max-width thq-section-max-width">
          <h2 class="features4-text10 thq-heading-2">
            <fragment class="features4-fragment13">
              <span class="features4-text14">Key Features</span>
            </fragment>
          </h2>
          <div class="features4-row thq-grid-auto-300">
            <div class="features4-feature1">
              <img
                alt="Medical Care Image"
                src="https://images.unsplash.com/photo-1562388364-cfca9bff0b41?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTc2NDcwNHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="thq-img-ratio-4-3"
              />
              <div class="features4-content1 thq-flex-column">
                <div class="features4-section-title1 thq-flex-column">
                  <h3 class="features4-title1 thq-heading-3">
                    <fragment class="features4-fragment12">
                      <span class="features4-text13">
                        Comprehensive Medical Care
                      </span>
                    </fragment>
                  </h3>
                  <span class="features4-description1 thq-body-small">
                    <fragment class="features4-fragment19">
                      <span class="features4-text20">
                        Receive top-notch medical care from experienced
                        professionals who prioritize your well-being.
                      </span>
                    </fragment>
                  </span>
                </div>
                <div class="features4-action5 thq-flex-row">
                  <button class="thq-button-flat">
                    <span class="thq-body-small">
                      <fragment class="features4-fragment11">
                        <span class="features4-text12">Learn More</span>
                      </fragment>
                    </span>
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M426 256l256 256-256 256-60-60 196-196-196-196z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="features4-feature2">
              <img
                alt="Telemedicine Image"
                src="https://images.unsplash.com/photo-1666887360711-446ce495ce4d?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTc2NDcwNXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="thq-img-ratio-4-3"
              />
              <div class="features4-content2 thq-flex-column">
                <div class="features4-section-title2 thq-flex-column">
                  <strong class="features4-title2 thq-heading-3">
                    <fragment class="features4-fragment15">
                      <span class="features4-text16">
                        Telemedicine Services
                      </span>
                    </fragment>
                  </strong>
                  <span class="features4-description2 thq-body-small">
                    <fragment class="features4-fragment14">
                      <span class="features4-text15">
                        Access healthcare remotely through our telemedicine
                        services for convenient consultations and follow-ups.
                      </span>
                    </fragment>
                  </span>
                </div>
                <div class="features4-action6 thq-flex-row">
                  <button class="thq-button-flat">
                    <span class="thq-body-small">
                      <fragment class="features4-fragment22">
                        <span class="features4-text23">
                          Explore Telemedicine
                        </span>
                      </fragment>
                    </span>
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M426 256l256 256-256 256-60-60 196-196-196-196z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="features4-feature3">
              <img
                alt="Travel Arrangements Image"
                src="https://images.unsplash.com/photo-1521575363954-393ae1439d33?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTc2NDcwNXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                class="thq-img-ratio-4-3"
              />
              <div class="features4-content3 thq-flex-column">
                <div class="features4-section-title3 thq-flex-column">
                  <strong class="features4-title3 thq-heading-3">
                    <fragment class="features4-fragment10">
                      <span class="features4-text11">Travel Arrangements</span>
                    </fragment>
                  </strong>
                  <span class="features4-description3 thq-body-small">
                    <fragment class="features4-fragment20">
                      <span class="features4-text21">
                        Let us take care of all your travel needs, ensuring a
                        smooth journey for your medical treatment.
                      </span>
                    </fragment>
                  </span>
                </div>
                <div class="features4-action7 thq-flex-row">
                  <button class="thq-button-flat">
                    <span class="thq-body-small">
                      <fragment class="features4-fragment21">
                        <span class="features4-text22">Plan Your Trip</span>
                      </fragment>
                    </span>
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M426 256l256 256-256 256-60-60 196-196-196-196z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="features4-feature4">
              <img
                alt="Post-Treatment Support Image"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="thq-img-ratio-4-3"
              />
              <div class="features4-content4 thq-flex-column">
                <div class="features4-section-title4 thq-flex-column">
                  <strong class="features4-title4 thq-heading-3">
                    <fragment class="features4-fragment16">
                      <span class="features4-text17">
                        Post-Treatment Support
                      </span>
                    </fragment>
                  </strong>
                  <span class="features4-description4 thq-body-small">
                    <fragment class="features4-fragment18">
                      <span class="features4-text19">
                        Benefit from our post-treatment support services to aid
                        in your recovery and overall well-being.
                      </span>
                    </fragment>
                  </span>
                </div>
                <div class="features4-action8 thq-flex-row">
                  <button class="thq-button-flat">
                    <span class="thq-body-small">
                      <fragment class="features4-fragment17">
                        <span class="features4-text18">Get Support</span>
                      </fragment>
                    </span>
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M426 256l256 256-256 256-60-60 196-196-196-196z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
