<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;  -webkit-font-smoothing: antialiased;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;  color: inherit;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./footer5.css" rel="stylesheet" />
      <footer class="footer5-footer8 thq-section-padding">
        <div class="footer5-max-width thq-section-max-width">
          <div class="footer5-content">
            <div class="footer5-column">
              <div class="footer5-logo1">
                <img
                  alt="Logo"
                  src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                  class="footer5-logo2"
                />
                <div class="footer5-links">
                  <a
                    href="https://example.com"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="thq-body-small"
                  >
                    <fragment class="footer5-fragment10">
                      <span class="footer5-text10">Link 1</span>
                    </fragment>
                  </a>
                  <a
                    href="https://example.com"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="thq-body-small"
                  >
                    <fragment class="footer5-fragment21">
                      <span class="footer5-text21">Link 2</span>
                    </fragment>
                  </a>
                  <a
                    href="https://example.com"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="thq-body-small"
                  >
                    <fragment class="footer5-fragment11">
                      <span class="footer5-text11">Link 3</span>
                    </fragment>
                  </a>
                  <a
                    href="https://example.com"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="thq-body-small"
                  >
                    <fragment class="footer5-fragment16">
                      <span class="footer5-text16">Link 4</span>
                    </fragment>
                  </a>
                  <a
                    href="https://example.com"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="thq-body-small"
                  >
                    <fragment class="footer5-fragment20">
                      <span class="footer5-text20">Link 5</span>
                    </fragment>
                  </a>
                </div>
              </div>
            </div>
            <div class="footer5-actions1">
              <span class="thq-body-small">
                <fragment class="footer5-fragment17">
                  <span class="footer5-text17">Subscribe</span>
                </fragment>
              </span>
              <div class="footer5-actions2">
                <div class="footer5-form">
                  <div class="footer5-container">
                    <input
                      type="email"
                      placeholder="Enter your email"
                      class="footer5-text-input thq-input"
                    />
                  </div>
                  <button class="thq-button-outline footer5-button">
                    <span class="thq-body-small">
                      <fragment class="footer5-fragment18">
                        <span class="footer5-text18">Subscribe</span>
                      </fragment>
                    </span>
                  </button>
                </div>
                <span class="thq-body-small">
                  <fragment class="footer5-fragment14">
                    <span class="footer5-text14">
                      By subscribing you agree to with our Privacy Policy and
                      provide consent to receive updates from our company.
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
          <div class="footer5-credits">
            <div class="thq-divider-horizontal"></div>
            <div class="footer5-row">
              <div class="footer5-footer-links">
                <span class="thq-body-small">
                  <fragment class="footer5-fragment15">
                    <span class="footer5-text15">Privacy Policy</span>
                  </fragment>
                </span>
                <span class="thq-body-small">
                  <fragment class="footer5-fragment13">
                    <span class="footer5-text13">Terms of Service</span>
                  </fragment>
                </span>
                <span class="thq-body-small">
                  <fragment class="footer5-fragment19">
                    <span class="footer5-text19">Cookies Settings</span>
                  </fragment>
                </span>
              </div>
              <span class="thq-body-small">
                <fragment class="footer5-fragment12">
                  <span class="footer5-text12">© 2024 TeleportHQ</span>
                </fragment>
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
