<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;  -webkit-font-smoothing: antialiased;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;  color: inherit;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing6.css" rel="stylesheet" />
      <div class="pricing6-pricing23 thq-section-padding">
        <div class="pricing6-max-width thq-section-max-width">
          <div class="pricing6-section-title">
            <div class="pricing6-content">
              <h2 class="pricing6-text10 thq-heading-2">
                <fragment class="pricing6-fragment35">
                  <span class="pricing6-text71">Pricing plan</span>
                </fragment>
              </h2>
              <p class="pricing6-text11 thq-body-large">
                <fragment class="pricing6-fragment31">
                  <span class="pricing6-text65">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </span>
                    <span></span>
                  </span>
                </fragment>
              </p>
            </div>
          </div>
          <div class="pricing6-container1">
            <div class="pricing6-column1 thq-card">
              <div class="pricing6-price10">
                <div class="pricing6-price11">
                  <span class="pricing6-text12 thq-body-large">
                    <fragment class="pricing6-fragment22">
                      <span class="pricing6-text56">Basic Care Package</span>
                    </fragment>
                  </span>
                  <h3 class="pricing6-text13 thq-heading-3">
                    <fragment class="pricing6-fragment21">
                      <span class="pricing6-text55">$99</span>
                    </fragment>
                  </h3>
                  <span class="thq-body-large">
                    <fragment class="pricing6-fragment29">
                      <span class="pricing6-text63">$999/year</span>
                    </fragment>
                  </span>
                </div>
                <div class="pricing6-list1">
                  <div class="pricing6-list-item10">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment28">
                        <span class="pricing6-text62">
                          Initial Consultation
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing6-list-item11">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment14">
                        <span class="pricing6-text48">Treatment Plan</span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing6-list-item12">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment42">
                        <span class="pricing6-text78">
                          24/7 Telemedicine Support
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button class="pricing6-button1 thq-button-outline">
                <span class="thq-body-small">
                  <fragment class="pricing6-fragment23">
                    <span class="pricing6-text57">Sign Up Now</span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing6-column2 thq-card">
              <div class="pricing6-price12">
                <div class="pricing6-price13">
                  <span class="pricing6-text19 thq-body-large">
                    <fragment class="pricing6-fragment41">
                      <span class="pricing6-text77">Advanced Care Package</span>
                    </fragment>
                  </span>
                  <h3 class="pricing6-text20 thq-heading-3">
                    <fragment class="pricing6-fragment17">
                      <span class="pricing6-text51">$199</span>
                    </fragment>
                  </h3>
                  <span class="thq-body-large">
                    <fragment class="pricing6-fragment39">
                      <span class="pricing6-text75">$1999/year</span>
                    </fragment>
                  </span>
                </div>
                <div class="pricing6-list2">
                  <div class="pricing6-list-item13">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment18">
                        <span class="pricing6-text52">
                          Specialist Consultations
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing6-list-item14">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment26">
                        <span class="pricing6-text60">
                          Personalized Treatment Plan
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing6-list-item15">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment11">
                        <span class="pricing6-text45">Travel Arrangements</span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing6-list-item16">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment15">
                        <span class="pricing6-text49">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button class="pricing6-button2 thq-button-filled">
                <span class="thq-body-small">
                  <fragment class="pricing6-fragment19">
                    <span class="pricing6-text53">Sign Up Now</span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing6-column3 thq-card">
              <div class="pricing6-price14">
                <div class="pricing6-price15">
                  <span class="pricing6-text27 thq-body-large">
                    <fragment class="pricing6-fragment24">
                      <span class="pricing6-text58">Premium Care Package</span>
                    </fragment>
                  </span>
                  <h3 class="pricing6-text28 thq-heading-3">
                    <fragment class="pricing6-fragment16">
                      <span class="pricing6-text50">$299</span>
                    </fragment>
                  </h3>
                  <span class="thq-body-large">
                    <fragment class="pricing6-fragment40">
                      <span class="pricing6-text76">$2999/year</span>
                    </fragment>
                  </span>
                </div>
                <div class="pricing6-list3">
                  <div class="pricing6-list-item17">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment36">
                        <span class="pricing6-text72">
                          VIP Access to Top Specialists
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing6-list-item18">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment34">
                        <span class="pricing6-text70">
                          Luxury Accommodation during Treatment
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing6-list-item19">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment25">
                        <span class="pricing6-text59">
                          Post-Treatment Wellness Retreat
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing6-list-item20">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment10">
                        <span class="pricing6-text44">Premium feature</span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button class="pricing6-button3 thq-button-filled">
                <span class="thq-body-small">
                  <fragment class="pricing6-fragment32">
                    <span class="pricing6-text68">Sign Up Now</span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
          <div class="pricing6-container2">
            <div class="pricing6-column4 thq-card">
              <div class="pricing6-price16">
                <div class="pricing6-price17">
                  <p class="pricing6-text35 thq-body-large">
                    <fragment class="pricing6-fragment13">
                      <span class="pricing6-text47">Basic plan</span>
                    </fragment>
                  </p>
                </div>
                <div class="pricing6-list4">
                  <div class="pricing6-list-item21">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment30">
                        <span class="pricing6-text64">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button class="pricing6-button4 thq-button-outline">
                <span class="thq-body-small">
                  <fragment class="pricing6-fragment38">
                    <span class="pricing6-text74">Get started</span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing6-column5 thq-card">
              <div class="pricing6-price18">
                <div class="pricing6-price19">
                  <p class="pricing6-text38 thq-body-large">
                    <fragment class="pricing6-fragment20">
                      <span class="pricing6-text54">Business plan</span>
                    </fragment>
                  </p>
                </div>
                <div class="pricing6-list5">
                  <div class="pricing6-list-item22">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment43">
                        <span class="pricing6-text79">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button class="pricing6-button5 thq-button-filled">
                <span class="thq-body-small">
                  <fragment class="pricing6-fragment37">
                    <span class="pricing6-text73">Get started</span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing6-column6 thq-card">
              <div class="pricing6-price20">
                <div class="pricing6-price21">
                  <p class="pricing6-text41 thq-body-large">
                    <fragment class="pricing6-fragment12">
                      <span class="pricing6-text46">Enterprise plan</span>
                    </fragment>
                  </p>
                </div>
                <div class="pricing6-list6">
                  <div class="pricing6-list-item23">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <fragment class="pricing6-fragment33">
                        <span class="pricing6-text69">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button class="pricing6-button6 thq-button-filled">
                <span class="thq-body-small">
                  <fragment class="pricing6-fragment27">
                    <span class="pricing6-text61">Email Us</span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
