.pricing6-pricing23 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pricing6-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing6-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pricing6-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text10 {
  text-align: center;
}
.pricing6-text11 {
  text-align: center;
}
.pricing6-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.pricing6-column1 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
.pricing6-price10 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price11 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text12 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-text13 {
  font-size: 48px;
}
.pricing6-list1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button1 {
  width: 100%;
}
.pricing6-column2 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent1);
}
.pricing6-price12 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price13 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text19 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-text20 {
  font-size: 48px;
}
.pricing6-list2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button2 {
  width: 100%;
}
.pricing6-column3 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent2);
}
.pricing6-price14 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price15 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text27 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-text28 {
  font-size: 48px;
}
.pricing6-list3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button3 {
  width: 100%;
}
.pricing6-container2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.pricing6-column4 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
.pricing6-price16 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price17 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text35 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-list4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button4 {
  width: 100%;
}
.pricing6-column5 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent1);
}
.pricing6-price18 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price19 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text38 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-list5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item22 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button5 {
  width: 100%;
}
.pricing6-column6 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent2);
}
.pricing6-price20 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price21 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text41 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-list6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item23 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button6 {
  width: 100%;
}
.pricing6-fragment10 {
  display: contents;
}
.pricing6-text44 {
  display: inline-block;
}
.pricing6-fragment11 {
  display: contents;
}
.pricing6-text45 {
  display: inline-block;
}
.pricing6-fragment12 {
  display: contents;
}
.pricing6-text46 {
  display: inline-block;
}
.pricing6-fragment13 {
  display: contents;
}
.pricing6-text47 {
  display: inline-block;
}
.pricing6-fragment14 {
  display: contents;
}
.pricing6-text48 {
  display: inline-block;
}
.pricing6-fragment15 {
  display: contents;
}
.pricing6-text49 {
  display: inline-block;
}
.pricing6-fragment16 {
  display: contents;
}
.pricing6-text50 {
  display: inline-block;
}
.pricing6-fragment17 {
  display: contents;
}
.pricing6-text51 {
  display: inline-block;
}
.pricing6-fragment18 {
  display: contents;
}
.pricing6-text52 {
  display: inline-block;
}
.pricing6-fragment19 {
  display: contents;
}
.pricing6-text53 {
  display: inline-block;
}
.pricing6-fragment20 {
  display: contents;
}
.pricing6-text54 {
  display: inline-block;
}
.pricing6-fragment21 {
  display: contents;
}
.pricing6-text55 {
  display: inline-block;
}
.pricing6-fragment22 {
  display: contents;
}
.pricing6-text56 {
  display: inline-block;
}
.pricing6-fragment23 {
  display: contents;
}
.pricing6-text57 {
  display: inline-block;
}
.pricing6-fragment24 {
  display: contents;
}
.pricing6-text58 {
  display: inline-block;
}
.pricing6-fragment25 {
  display: contents;
}
.pricing6-text59 {
  display: inline-block;
}
.pricing6-fragment26 {
  display: contents;
}
.pricing6-text60 {
  display: inline-block;
}
.pricing6-fragment27 {
  display: contents;
}
.pricing6-text61 {
  display: inline-block;
}
.pricing6-fragment28 {
  display: contents;
}
.pricing6-text62 {
  display: inline-block;
}
.pricing6-fragment29 {
  display: contents;
}
.pricing6-text63 {
  display: inline-block;
}
.pricing6-fragment30 {
  display: contents;
}
.pricing6-text64 {
  display: inline-block;
}
.pricing6-fragment31 {
  display: contents;
}
.pricing6-text65 {
  display: inline-block;
}
.pricing6-fragment32 {
  display: contents;
}
.pricing6-text68 {
  display: inline-block;
}
.pricing6-fragment33 {
  display: contents;
}
.pricing6-text69 {
  display: inline-block;
}
.pricing6-fragment34 {
  display: contents;
}
.pricing6-text70 {
  display: inline-block;
}
.pricing6-fragment35 {
  display: contents;
}
.pricing6-text71 {
  display: inline-block;
}
.pricing6-fragment36 {
  display: contents;
}
.pricing6-text72 {
  display: inline-block;
}
.pricing6-fragment37 {
  display: contents;
}
.pricing6-text73 {
  display: inline-block;
}
.pricing6-fragment38 {
  display: contents;
}
.pricing6-text74 {
  display: inline-block;
}
.pricing6-fragment39 {
  display: contents;
}
.pricing6-text75 {
  display: inline-block;
}
.pricing6-fragment40 {
  display: contents;
}
.pricing6-text76 {
  display: inline-block;
}
.pricing6-fragment41 {
  display: contents;
}
.pricing6-text77 {
  display: inline-block;
}
.pricing6-fragment42 {
  display: contents;
}
.pricing6-text78 {
  display: inline-block;
}
.pricing6-fragment43 {
  display: contents;
}
.pricing6-text79 {
  display: inline-block;
}
@media(max-width: 991px) {
  .pricing6-container1 {
    flex-direction: column;
  }
  .pricing6-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .pricing6-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .pricing6-button2 {
    width: 100%;
  }
  .pricing6-button3 {
    width: 100%;
  }
}
