.confirmModal{
    position: fixed;             
    width: 100%;                
    height: 100%;
    top: 0;                     
    left: 0; 
    display: flex;              
    justify-content: center;     
    align-items: center;        
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 9999;              
    pointer-events: none;       
    transition: opacity 0.3s ease;
    opacity: 0;                 
}

.confirmModal.active {
    opacity: 1;                
    pointer-events: auto;     
    visibility: visible;
}

.wrapper {
    background: #f9f9f9;
    padding: 40px;
    border-radius: 12px;
    width: 25%;
    top: 50%;
    left: 50%;
    max-width: 700px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    transform: translate(-170%, -150%);
}

.modalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.modalContent img{
    height: 100px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}

.delete-btn{
    background-color: rgb(228, 15, 15);
    color: white;
    font-size: large;
    cursor: pointer; 
    padding: 10px 15px;   
    border-radius: 20px;
    border-style: none;
    margin-top: 1rem;
}

.delete-btn:hover{
    background-color: #931a1a;
}

.cancel-btn{
    background-color: #9bc4c1;
    color: white;
    font-size: large;
    cursor: pointer; 
    padding: 10px 15px;   
    border-radius: 20px;
    border-style: none;
    margin-top: 1rem;
}

.blur{
    filter: blur(5px); 
    transition: filter 0.3s ease; 
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: medium;
}
