.nav-bar2-wrapper {
  display: contents;
}
.nav-bar2-nav-bar {
  gap: 900px;
  width: 100%;
  height: 150px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: #299d97;
}
.nav-bar2-depth3-frame9 {
  gap: 16px;
  width: auto;
  height: 141px;
  display: flex;
  padding: 10px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
}
.nav-bar2-depth4-frame11 {
  width: 449px;
  height: 85px;
  display: flex;
  padding: 10px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.nav-bar2-text10 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 36px;
  align-self: flex-start;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 23px;
  font-stretch: normal;
  text-decoration: none;
}
.nav-bar2-depth3-frame10 {
  gap: 32px;
  width: 333px;
  height: 152px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.nav-bar2-depth4-frame0 {
  gap: 36px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.nav-bar2-navlink1 {
  display: contents;
}
.nav-bar2-depth5-frame2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.nav-bar2-text11 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.nav-bar2-navlink2 {
  display: contents;
}
.nav-bar2-depth5-frame1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.nav-bar2-text12 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.nav-bar2-navlink3 {
  display: contents;
}
.nav-bar2-depth5-frame3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.nav-bar2-text13 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.nav-bar2-depth5-frame4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar2-text14 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.nav-bar2-depth4-frame12 {
  gap: 8px;
  width: 197px;
  display: flex;
  align-items: flex-start;
}
.nav-bar2-navlink4 {
  display: contents;
}
.nav-bar2-depth5-frame01 {
  width: auto;
  height: 40px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(19, 25, 28, 1);
}
.nav-bar2-depth6-frame01 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.nav-bar2-text15 {
  color: rgba(247, 249, 249, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.nav-bar2-depth5-frame02 {
  width: auto;
  height: 40px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: #ffffff;
}
.nav-bar2-navlink5 {
  display: contents;
}
.nav-bar2-depth6-frame02 {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.nav-bar2-text16 {
  fill: transparent;
  color: #000000;
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment15 {
  display: contents;
}
.accomodation-text18 {
  color: rgba(247, 249, 249, 1);
  height: auto;
  display: inline-block;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment10 {
  display: contents;
}
.accomodation-text10 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  display: inline-block;
  font-size: 36px;
  align-self: flex-start;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 23px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment14 {
  display: contents;
}
.accomodation-text17 {
  display: inline-block;
}
.accomodation-fragment16 {
  display: contents;
}
.accomodation-text20 {
  display: inline-block;
}
.accomodation-fragment13 {
  display: contents;
}
.accomodation-text16 {
  display: inline-block;
}
.accomodation-fragment11 {
  display: contents;
}
.accomodation-text12 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  display: inline-block;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment12 {
  display: contents;
}
.accomodation-text14 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  display: inline-block;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}















@media(max-width: 1600px) {
  .nav-bar2-nav-bar {
    gap: 700px;
    width: 100%;
  }
  .nav-bar2-depth3-frame10 {
    left: 300px;
  }
}
@media(max-width: 1440px) {
  .nav-bar2-nav-bar {
    gap: 500px;
    width: 1440px;
  }
  .nav-bar2-depth3-frame10 {
    left: 150px;
  }
}

.footer1-wrapper {
  display: contents;
}
.footer1-footer1 {
  gap: 200px;
  width: 100%;
  height: 450px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #299d97;
}
.footer1-container1 {
  width: 553px;
  height: 180px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer1-text10 {
  color: rgb(255, 255, 255);
  width: 553px;
  height: auto;
  font-size: 50px;
  align-self: center;
  font-style: Bold;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
.footer1-container2 {
  gap: 20px;
  width: 180px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer1-text11 {
  color: rgb(255, 255, 255);
  width: 180px;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer1-text12 {
  color: rgb(255, 255, 255);
  width: 180px;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer1-text13 {
  color: rgb(255, 255, 255);
  width: 180px;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.footer1-container3 {
  gap: 15px;
  width: 205px;
  height: 151.5px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer1-text14 {
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  font-size: 20px;
  align-self: flex-start;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.footer1-link {
  display: contents;
}
.footer1-frame {
  width: 182px;
  height: 44px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(12, 22, 28, 1);
}
.footer1-text15 {
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: auto;
  font-size: 14px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.footer1-text16 {
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  font-size: 25px;
  align-self: flex-start;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 37.5px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment20 {
  display: contents;
}
.accomodation-text72 {
  color: rgb(255, 255, 255);
  width: 180px;
  height: auto;
  display: inline-block;
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment23 {
  display: contents;
}
.accomodation-text78 {
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: auto;
  display: inline-block;
  font-size: 14px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment17 {
  display: contents;
}
.accomodation-text69 {
  display: inline-block;
}
.accomodation-fragment22 {
  display: contents;
}
.accomodation-text77 {
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 25px;
  align-self: flex-start;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 37.5px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment18 {
  display: contents;
}
.accomodation-text70 {
  display: inline-block;
}
.accomodation-fragment21 {
  display: contents;
}
.accomodation-text75 {
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  display: inline-block;
  font-size: 20px;
  align-self: flex-start;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment19 {
  display: contents;
}
.accomodation-text71 {
  display: inline-block;
}















@media(max-width: 1600px) {
  .footer1-footer1 {
    height: 400px;
  }
  .accomodation-text77 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 37.5px;
    text-decoration: none;
  }
}
@media(max-width: 1440px) {
  .footer1-footer1 {
    gap: 100px;
  }
}

.accomodation-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.accomodation-accomodation {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-offwhite);
}
.accomodation-fragment10 {
  display: contents;
}
.accomodation-text10 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  display: inline-block;
  font-size: 36px;
  align-self: flex-start;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 23px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment11 {
  display: contents;
}
.accomodation-text12 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  display: inline-block;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment12 {
  display: contents;
}
.accomodation-text14 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  display: inline-block;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment13 {
  display: contents;
}
.accomodation-text16 {
  display: inline-block;
}
.accomodation-fragment14 {
  display: contents;
}
.accomodation-text17 {
  display: inline-block;
}
.accomodation-fragment15 {
  display: contents;
}
.accomodation-text18 {
  color: rgba(247, 249, 249, 1);
  height: auto;
  display: inline-block;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment16 {
  display: contents;
}
.accomodation-text20 {
  display: inline-block;
}
.accomodation-contact1 {
  height: 379px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.accomodation-max-width {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-container2 {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.accomodation-section-title {
  height: 152px;
  align-self: flex-start;
}
.accomodation-text22 {
  text-align: left;
}
.accomodation-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.accomodation-input {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
.accomodation-text-input {
  flex: 1;
}
.accomodation-checkbox {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-self: flex-start;
}
.accomodation-button {
  align-self: flex-start;
}
.accomodation-depth3-frame1 {
  width: 100%;
  display: flex;
  padding: 30px;
  flex-grow: 1;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.accomodation-depth4-frame3 {
  gap: 12px;
  width: 100%;
  display: flex;
  padding: 16px;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.accomodation-depth5-frame01 {
  gap: 50px;
  width: 100%;
  height: 282px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.accomodation-depth6-frame01 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.accomodation-depth7-frame010 {
  width: 277px;
  height: 180px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.accomodation-image10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accomodation-depth7-frame110 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame010 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text24 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame110 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text26 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth6-frame02 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.accomodation-depth7-frame011 {
  width: 277px;
  height: 180px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.accomodation-image11 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accomodation-depth7-frame111 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame011 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text28 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame111 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text29 {
  color: rgb(79, 122, 147);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth6-frame21 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accomodation-depth7-frame012 {
  width: 246px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1491900177661-4e1cd2d7cce2?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDI3fHxidWlsZGluZ3xlbnwwfHx8fDE3MzE3NjUyNTB8MA&ixlib=rb-4.0.3&w=300");
}
.accomodation-depth7-frame112 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame012 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text30 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame112 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text31 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth6-frame41 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accomodation-depth7-frame013 {
  width: 261px;
  height: 193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.accomodation-image12 {
  width: 100%;
  height: 211px;
  object-fit: cover;
}
.accomodation-depth7-frame113 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame013 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text33 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame113 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text35 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-container4 {
  flex: 0 0 auto;
  width: 280px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accomodation-container5 {
  flex: 0 0 auto;
  width: 280px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accomodation-image13 {
  width: 280px;
  height: 191px;
  object-fit: cover;
}
.accomodation-text37 {
  color: rgba(12, 22, 28, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-text39 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth5-frame02 {
  gap: 50px;
  width: 100%;
  height: 282px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.accomodation-depth6-frame03 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.accomodation-depth7-frame014 {
  width: 277px;
  height: 180px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.accomodation-image14 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accomodation-depth7-frame114 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame014 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text41 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame114 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text42 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth6-frame04 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.accomodation-depth7-frame015 {
  width: 277px;
  height: 180px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.accomodation-image15 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accomodation-depth7-frame115 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame015 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text44 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame115 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text45 {
  color: rgb(79, 122, 147);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth6-frame22 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accomodation-depth7-frame016 {
  width: 246px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1485368647436-ff0fb9990605?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDYzfHxidWlsZGluZ3xlbnwwfHx8fDE3MzE3NjU0MzZ8MA&ixlib=rb-4.0.3&w=300");
}
.accomodation-depth7-frame116 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame016 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text46 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame116 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text47 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth6-frame42 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accomodation-depth7-frame017 {
  width: 261px;
  height: 193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.accomodation-image16 {
  width: 100%;
  height: 211px;
  object-fit: cover;
}
.accomodation-depth7-frame117 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame017 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text49 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame117 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text50 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-container6 {
  flex: 0 0 auto;
  width: 280px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accomodation-container7 {
  flex: 0 0 auto;
  width: 280px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accomodation-image17 {
  width: 280px;
  height: 191px;
  object-fit: cover;
}
.accomodation-text52 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-text53 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth5-frame03 {
  gap: 50px;
  width: 100%;
  height: 282px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.accomodation-depth6-frame05 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.accomodation-depth7-frame018 {
  width: 277px;
  height: 180px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.accomodation-image18 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accomodation-depth7-frame118 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame018 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text55 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame118 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text56 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth6-frame06 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.accomodation-depth7-frame019 {
  width: 277px;
  height: 180px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.accomodation-image19 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accomodation-depth7-frame119 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame019 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text58 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame119 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text59 {
  color: rgb(79, 122, 147);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth6-frame23 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accomodation-depth7-frame020 {
  width: 246px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1525596662741-e94ff9f26de1?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDM1fHxob3RlbHxlbnwwfHx8fDE3MzE3NjUyMzh8MA&ixlib=rb-4.0.3&w=300");
}
.accomodation-depth7-frame120 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame020 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text60 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame120 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text61 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth6-frame43 {
  gap: 12px;
  height: 213px;
  display: flex;
  padding: 0 0 12px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.accomodation-depth7-frame021 {
  width: 261px;
  height: 193px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.accomodation-image20 {
  width: 100%;
  height: 211px;
  object-fit: cover;
}
.accomodation-depth7-frame121 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-depth8-frame021 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text63 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-depth8-frame121 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.accomodation-text64 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-container8 {
  flex: 0 0 auto;
  width: 280px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accomodation-container9 {
  flex: 0 0 auto;
  width: 280px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.accomodation-image21 {
  width: 280px;
  height: 191px;
  object-fit: cover;
}
.accomodation-text66 {
  color: rgb(12, 22, 28);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-text67 {
  color: rgba(79, 122, 147, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment17 {
  display: contents;
}
.accomodation-text69 {
  display: inline-block;
}
.accomodation-fragment18 {
  display: contents;
}
.accomodation-text70 {
  display: inline-block;
}
.accomodation-fragment19 {
  display: contents;
}
.accomodation-text71 {
  display: inline-block;
}
.accomodation-fragment20 {
  display: contents;
}
.accomodation-text72 {
  color: rgb(255, 255, 255);
  width: 180px;
  height: auto;
  display: inline-block;
  font-size: 16px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment21 {
  display: contents;
}
.accomodation-text75 {
  color: rgba(255, 255, 255, 1);
  width: 84px;
  height: auto;
  display: inline-block;
  font-size: 20px;
  align-self: flex-start;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment22 {
  display: contents;
}
.accomodation-text77 {
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 25px;
  align-self: flex-start;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 37.5px;
  font-stretch: normal;
  text-decoration: none;
}
.accomodation-fragment23 {
  display: contents;
}
.accomodation-text78 {
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: auto;
  display: inline-block;
  font-size: 14px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .accomodation-accomodation {
    height: 100%;
  }
  .accomodation-depth3-frame1 {
    height: auto;
  }
  .accomodation-depth7-frame012 {
    width: 260px;
    height: 192px;
  }
  .accomodation-depth7-frame013 {
    width: 277px;
    height: 191px;
  }
  .accomodation-depth7-frame016 {
    width: 260px;
    height: 192px;
  }
  .accomodation-depth7-frame017 {
    width: 277px;
    height: 191px;
  }
  .accomodation-depth7-frame020 {
    width: 260px;
    height: 192px;
  }
  .accomodation-depth7-frame021 {
    width: 277px;
    height: 191px;
  }
  .accomodation-text77 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 37.5px;
    text-decoration: none;
  }
}
@media(max-width: 1440px) {
  .accomodation-depth3-frame1 {
    height: auto;
  }
  .accomodation-depth4-frame3 {
    width: 1153px;
  }
  .accomodation-text30 {
    color: rgb(12, 22, 28);
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
  }
  .accomodation-text46 {
    color: rgb(12, 22, 28);
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
  }
  .accomodation-text60 {
    color: rgb(12, 22, 28);
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
  }
}
@media(max-width: 991px) {
  .accomodation-input {
    align-items: center;
    flex-direction: row;
  }
  .accomodation-checkbox {
    width: 100%;
    align-items: center;
    flex-direction: row;
  }
}
