/* Modal Container */
.add-modal-container {
    position: fixed;             
    width: 100%;                
    height: 100%;
    top: 0;                      /* Align to the top of the screen */
    left: 0; 
    display: flex;               /* Use flexbox to center the modal */
    justify-content: center;     /* Center horizontally */
    align-items: center;               /* Full viewport height /        / Center vertically */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    z-index: 9999;               /* Ensure it's above other content */
    display: block; 
    border-radius: 20px;              
    pointer-events: none;    
    transition: opacity 0.3s ease;
    opacity: 0; 
}

.add-modal-container.active {
    opacity: 1;
    pointer-events: auto;   
    visibility: visible;
}

/* Modal Box */
.addModal {
    background: #f9f9f9;
    padding: 40px;
    border-radius: 12px;
    width: 60%;
    max-width: 700px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 50%;                      /* Align to the top of the screen */
    left: 50%;
    bottom: 50%;    
    transform: translate(-50%, -50%);
}

/* Modal Header */
.addModal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
}

.addModal-top h1 {
    margin: 0;
    color: #333;
    font-size: 1.5rem;
}

.close {
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: #ff4d4d; /* Red color when hovered */
}

/* Modal Body */
.body {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.right {
    width: 48%;
}

/* Input Fields */
label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

/* Submit Button */
.submit-btn {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 12px 24px;
    background: #299d97;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #1f7571;
}

/* Image Styling */
#uploadImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#uploadImageIcon {
    cursor: pointer;
}

#imageCount {
    margin-top: 0.5rem;
    color: #777;
}

/* Modal Responsiveness */
@media (max-width: 768px) {
    .body {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }
}
