/* Card Container */
.info-card {
    background: #F8FAFC;
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Header Section */
.info-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-details {
    display: flex;
    flex-direction: column;
}

.org-name {
    font-size: 16px;
    font-weight: 600;
    color: #1E293B;
}

.time-ago {
    font-size: 14px;
    color: #94A3B8;
}

/* Body Section */
.info-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-details,
.amount-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.event-label,
.amount-label {
    font-size: 14px;
    color: #475569;
}

.event-value {
    font-size: 16px;
    font-weight: 500;
    color: #1E293B;
}

.amount-value {
    font-size: 16px;
    font-weight: 600;
    color: #10B981; /* Green color */
}

.search-and-actions {
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-bottom: 20px;
}

.search-and-actions form{
    width: 80%;
    display: flex;
}

.search-and-actions input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgba(244, 239, 229, 1);
}

.search-and-actions button {
    padding: 20px;
    border: 0px;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgb(202, 172, 111);
}
